/* Variables */
$se-light-base: #00bce4;
$se-base: #00539b;
$se-secondary: #f8971d;

@mixin cover-bg($size: cover) {
  background:{
    repeat: no-repeat;
    position: center center;
    background-size: $size;
  }
}

/* Bootstrap */
h3{
  font-weight: 400;
}
.btn-info, .btn-primary, .btn-default {
  background-image: none;
  filter: none;
  border: none;
}

/* Styles */
html{height: 100%;}
body {height: 100%;min-height: 100%;}
a, a:active, a:visited, a:link, a:hover, a:focus{text-decoration: none!important;}
div#app{
  min-height: 100%;
  background: #fff;
}
.checkoutBtnStuff{
  margin-top: 100px;
  font-size: 27px;
  text-transform: uppercase;
}
.socialIcons{
  font-size: 36px;
  margin-right: 10px;
}
#se-navbar-phone{
  line-height: 38px;
  color: $se-secondary;
}
div#subfooter{
  border-top: solid 1px #ddd;
  padding:20px;
  margin-top: 150px;
}
.subfooterLink.category{
  font-size: 14px;
  text-indent: 15px;
}
.subfooterLink a{
  color:#444!important;
  font-size: 16px;
}
#home_slider_wrapper{
  position: relative;
  width: 100%;
  color: #ddd;
}
#home_zip_input_container{
  z-index: 10;
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
}
$zip-br: 5px;
$input-width: 360px;
$input-height: 50px;
$input-btn-font-size: 18px;
#home_zip_input_inner_container{
  position: relative;
  width: $input-width;
  height: $input-height;
  margin: 20px auto;
  background: white;
  border-radius: $zip-br;
}
#input_map_marker{
  float: left;
  margin: 12px;
  font-size: 22px;
  &:before{
    color: $se-light-base;
  }
}
#home_zip_input_label{
  float:left;
}
#home_zip_input{
  border: none;
  float: left;
  color: #333;
  height: $input-height - 10px;
  width: ($input-width - 35px) * 0.6;
  margin: 5px 5px 5px 0;
  font-size: 18px;
}
#home_zip_btn{
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
  height: $input-height;
  padding: (($input-height - $input-btn-font-size) / 2 - 3) 0;
  background: $se-light-base;
  width: ($input-width - 35px) * 0.4;
  font-size: $input-btn-font-size;
  border-radius: 0px $zip-br $zip-br 0px;
}
.home_slide{
  @include cover-bg;
  height: 50vw;
  width:100%;
  h2{
    z-index: 10;
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    text-align: center;
  }
}
div#footer{
  width:100%;
  height: 40px;
  color:#777;
  text-align: center;
  padding:13px;
}
.categoryLink{
  margin:20px;
  line-height: 40px;
}
#content{
  position: relative;
  top:85px;
  padding-bottom:150px;
}
.navbar-btn {
  margin: 24px 7px 0;
}
.navbar-nav > li > a {
  line-height: 38px;
  font-size:16px;
}
#apptBar{
  position: fixed;
  top:70px;
  width:100%;
  color: #333;
  background-color:#f8b668;
  font-size:16px;
  text-align: center;
  padding:8px 50px 8px 8px;
  z-index: 15;
}
.qtyBg{
  position: absolute;
  bottom:0px;
  height:42px;
  width:100%;
  background-color:#286baa;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin:0 -10px;
}
.qtyBtns{
  color: #eee;
  position: relative;
}
.itemNotesBtn{
  height:40px;
  position: absolute;
  bottom: -40px;
  width: 100%;
  color: #333;
  background:#dbeeff;
  border:solid 1px #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding:10px;
  text-align: center;
}
.myStuffItem{
  position: relative;
  z-index: 1;
  margin-bottom:50px!important;
}
.itemNotesBtn.open{
  display:none;
}
.itemNotes{
  position: absolute;
  display:none;
  border-radius: 15px;
  background: rgba(193, 222, 249, 0.65);
  padding:10px;
  top: 20px;
  width: 80%;
  left: 10%;
  z-index: 2;
}
.itemNotes.open{
  display:block;
  top: 70px;
}
#pricingTable td{
  text-align: center;
  width:33%;
  font-size:22px;
}
.navbar-brand > img {
  width: 150px;
}
.appt-item{
  font-size:22px;
}
td {
	padding: 12px;
}
*:focus {
    outline: none!important;
}
span.seBlue{
  color:$se-base;
}
#addStuffTitle{
  font-size: 40px;
  text-align: center;
}
#addStuffSubtitle{
  font-size: 28px;
  text-align: center;
}
.product{
  border: solid 1px #d2d2d2;
  border-radius: 6px;
  padding:10px;
  position: relative;
  margin-bottom: 20px;
}
.productPrice{
  color:#286baa;
  font-size: 18px;
}
.productTitle{
  color:#444;
  font-size: 20px;
  font-weight: normal;
}
.hideIfCurrentRoute.active{
  display:none;
}

@media screen and (max-width:767px) {
  #home_zip_input_container{
    position: relative;
  }
}

// .savings { color: $vin-green; }
// .loss { color: $vin-red; }
