<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <title>Curbside Cookies Sarasota</title>
</head>
<body>
  <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
  <script>
    var config = {
      apiKey: "AIzaSyAhFPbDSnzflk8jMlCxOwTMV-UN30jGLD0",
      authDomain: "curbside-cookies.firebaseapp.com",
      databaseURL: "https://curbside-cookies.firebaseio.com",
      storageBucket: "curbside-cookies.appspot.com",
      messagingSenderId: "556442701545"
    };
    firebase.initializeApp(config);
  </script>
  <div id="app"></div>
</body>
</html>
